<div class="pages">
    <div data-page="about" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"
                         style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:50px;">
                        <a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 style="font-size: 25px" class="page_title">¿Cómo funciona?</h2>

                <!-- Slider -->
                <div class="swiper-container-pages swiper-init" style="height: 60vh" data-effect="slide"
                     data-pagination=".swiper-pagination"
                     data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <video style="height: 100%" src="images/quienessomos.mp4" controls="true" poster="images/preload.jpg" preload="metadata" alt="" title=""></video>
                        </div>

                    </div>
                </div>

                <div class="page_single layout_fullwidth_padding">

                    <blockquote>
                        This mobile template that can be used to create a mobile website, a mobile web app, or even a
                        native mobile app. The design is using a full width layout that works perfectly on tablets and
                        desktop also. <span>SINDEVO.COM</span>
                    </blockquote>

                </div>

            </div>


        </div>
    </div>
</div>