<div class="pages">
    <div data-page="shop" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"
                         style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:50px;">
                        <a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">SHOP</h2>

                <div class="page_single layout_fullwidth_padding">

                    <ul class="shop_items">

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/photos/photo1.jpg" alt=""
                                                                                  title=""/></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Blue Bike</a></h4>
                                <div class="shop_item_price">$100</div>
                                <a href="#" style="font-size: 15px;
    background-color: #ff1d2b;
    color: white;
    font-weight: bold;
}" data-popup=".popup-services" class="open-popup" id="addtocart">Solicitar</a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/photos/photo2.jpg" alt=""
                                                                                  title=""/></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Yellow Car</a></h4>
                                <div class="shop_item_price">$1200</div>
                                <a href="#" style="font-size: 15px;
    background-color: #ff1d2b;
    color: white;
    font-weight: bold;
}" data-popup=".popup-services" class="open-popup" id="addtocart">Solicitar</a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/photos/photo3.jpg" alt=""
                                                                                  title=""/></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Summer T-Shirt</a></h4>
                                <div class="shop_item_price">$1200</div>
                                <a href="#" style="font-size: 15px;
    background-color: #ff1d2b;
    color: white;
    font-weight: bold;
}" data-popup=".popup-services" class="open-popup" id="addtocart">Solicitar</a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/photos/photo4.jpg" alt=""
                                                                                  title=""/></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Valentines Gift</a></h4>
                                <div class="shop_item_price">$175</div>
                                <a href="#" style="font-size: 15px;
    background-color: #ff1d2b;
    color: white;
    font-weight: bold;
}" data-popup=".popup-services" class="open-popup" id="addtocart">Solicitar</a>
                            </div>
                        </li>

                        <li>
                            <div class="shop_thumb"><a href="shop-item.html"><img src="images/photos/photo5.jpg" alt=""
                                                                                  title=""/></a></div>
                            <div class="shop_item_details">
                                <h4><a href="shop-item.html">Rocket Toy</a></h4>
                                <div class="shop_item_price">$435</div>
                                <a href="#" style="font-size: 15px;
    background-color: #ff1d2b;
    color: white;
    font-weight: bold;
}" data-popup=".popup-services" class="open-popup" id="addtocart">Solicitar</a>
                            </div>
                        </li>

                    </ul>

                    <!--                    <div class="shop_pagination">-->
                    <!--                        <a href="shop.html" class="prev_shop">PREV PAGE</a>-->
                    <!--                        <span class="shop_pagenr">1/37</span>-->
                    <!--                        <a href="shop-page2.html" class="next_shop">NEXT PAGE</a>-->
                    <!--                    </div>-->


                </div>

            </div>


        </div>
    </div>
</div>