<div class="pages">
    <div data-page="hogar" class="page pagepanel">
        <div class="page-content">
            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"
                         style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:50px;">
                        <a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>


            <!-- Slider -->
            <div class="swiper-container slidertoolbar swiper-init" data-effect="slide" data-parallax="true"
                 data-pagination=".swiper-pagination" data-next-button=".swiper-button-next"
                 data-prev-button=".swiper-button-prev" style="height: 85%;">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" style="background-image:url(images/slide-productos3.jpg);">

                    </div>
                    <div class="swiper-slide" style="background-image:url(images/slide-productos2.jpg);">
                    </div>
                    <div class="swiper-slide" style="background-image:url(images/slide-productos1.jpg);">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="swiper-container-toolbar swiper-toolbar swiper-init" data-effect="slide"
                 data-slides-per-view="1" data-slides-per-group="1" data-space-between="0"
                 data-pagination=".swiper-pagination-toolbar">
                <div class="swiper-pagination-toolbar"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide toolbar-icon" style="    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;">
                        <a href="#" data-popup=".popup-services" class="open-popup" style="width: 85%"><img src="images/icons/red/features.png" alt=""
                                                                        title="" height="30" width="30"/><strong style="font-size: 24px">Solicitar</strong></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




