<div class="pages">
    <div data-page="acount" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"
                         style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:7vh;">
                        <a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">Mi perfil</h2>

                <div class="page_single layout_fullwidth_padding">

                    <div class="contactform">
                        <form class="">
                            <div class="form_row">
                                <label for="nameperfil">Nombre:</label>
                                <input id="nameperfil" type="text" name="nameperfil" value="" class="form_input"/>
                            </div>

                            <div class="form_row">
                                <label for="phoneperfil">Teléfono:</label>
                                <input id="phoneperfil" type="number" name="phoneperfil" value=""
                                       class="form_input required"/>
                            </div>
                            <div class="form_row">
                                <label for="phonelocalperfil">Teléfono del local:</label>
                                <input id="phonelocalperfil" type="number" name="phonelocalperfil" value=""
                                       class="form_input"/>
                            </div>

                            <div class="form_row">
                                <label for="cityperfil">Ciudad:</label>
                                <input id="cityperfil" type="text" name="cityperfil" value=""
                                       class="form_input required "/>
                            </div>
                            <div class="form_row">
                                <label for="localperfil">Local:</label>
                                <input id="localperfil" type="text" name="localperfil" value="" class="form_input"/>
                            </div>

                            <div class="form_row">
                                <label for="stateperfil">Departamento:</label>
                                <input id="stateperfil" type="text" name="stateperfil" value=""
                                       class="form_input required "/>
                            </div>
                            <div class="form_row">
                                <label for="barrioperfil">Barrio:</label>
                                <input id="barrioperfil" type="text" name="barrioperfil" value=""
                                       class="form_input required"/>
                            </div>
                            <div class="form_row">
                                <label for="addressperfil">Dirección:</label>
                                <input id="addressperfil" type="text" name="addressperfil" value="" class="form_input required "/>
                            </div>
                            <div class="form_row">
                                <label for="passwordperfil">Contraseña:</label>
                                <input id="passwordperfil" type="password" name="passwordperfil" value="" class="form_input required "/>
                            </div>


                            <button type="submit" name="actualizar" id="actualizar" style="background: #ff1d2b;color: white;    width: 100%;
    padding: 12px 0;
    margin: 10px 0 0 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    border: none;
    -webkit-appearance: none;" class="form_submit">Actualizar
                            </button>
                        </form>
                    </div>


                </div>

            </div>


        </div>
    </div>
</div>
