<div class="pages">
    <div data-page="ganancias" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"
                         style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:7vh;">
                        <a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">Mis ganancias</h2>

                <div class="page_single layout_fullwidth_padding">


                    <ul class="responsive_table">
                        <li class="table_row">
                            <div class="table_section">Servicio</div>
                            <div class="table_section">Puntos</div>
                            <div class="table_section">Cantidad</div>
                            <div class="table_section">Total</div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">DTH-Hogar</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Sencillo-Hogar</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Doble-Hogar</div>
                            <div class="table_section">40</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Triple-Hogar</div>
                            <div class="table_section">50</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Equipos</div>
                            <div class="table_section">10</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Planes</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Tecnologia</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                        </li>
                    </ul>


                    <h3>Puntos Ganados: <strong>30</strong></h3>
                    <h3>Puntos redimidos: <strong>10</strong></h3>
                    <h3>Puntos por redimir: <strong>20</strong></h3>

                    <button type="submit" name="submit" id="submit" style="background: #ff1d2b;color: white;    width: 100%;
    padding: 12px 0;
    margin: 10px 0 0 0;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    border: none;
    -webkit-appearance: none;" class="form_submit">Redimir Puntos
                    </button>
                </div>

            </div>


        </div>
    </div>
</div>