<div class="pages">
    <div data-page="team" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">  <div class="logo_text"
												style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:7vh;">
					<a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">Nuestro equipo</h2>
                <div class="page_single layout_fullwidth_padding">

                    <div class="swiper-container-team swiper-init" data-effect="slide" data-space-between="10"
                         data-pagination=".swiper-pagination-team" data-slides-per-view="2">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar.jpg" alt=""
                                                                                 title=""/></a><strong>John Doe</strong><span>CEO</span>
                            </div>
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar2.jpg" alt=""
                                                                                 title=""/></a><strong>Jack
                                Aleck</strong><span>PROGRAMMER</span>
                            </div>
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar3.jpg" alt=""
                                                                                 title=""/></a><strong>Alexa
                                Patterson</strong><span>MANAGER</span>
                            </div>
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar4.jpg" alt=""
                                                                                 title=""/></a><strong>Michael
                                Sanderson</strong><span>ACCOUNTANT</span>
                            </div>
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar.jpg" alt=""
                                                                                 title=""/></a><strong>John Doe</strong><span>DESIGNER</span>
                            </div>
                        </div>
                        <div class="swiper-pagination-team"></div>
                    </div>
                </div>
                <h2 class="page_title">TEAM BIGGER VIEW</h2>
                <div class="page_single layout_fullwidth_padding">
                    <div class="swiper-container-team swiper-init" data-effect="slide" data-space-between="0"
                         data-pagination=".swiper-pagination-teambigger" data-slides-per-view="1">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar.jpg" alt=""
                                                                                 title=""/></a>
                                <strong>John Doe</strong>

                                <span>CEO</span>
                            </div>
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar2.jpg" alt=""
                                                                                 title=""/></a>
                                <strong>Jack Aleck</strong>
                                <span>PROGRAMMER</span>
                            </div>
                            <div class="swiper-slide team-block">
                                <a href="about.html" data-view=".view-main"><img src="images/avatar3.jpg" alt=""
                                                                                 title=""/></a>
                                <strong>Alexa Patterson</strong>

                                <span>MANAGER</span>
                            </div>
                        </div>
                        <div class="swiper-pagination-teambigger"></div>
                    </div>

                </div>


            </div>


        </div>
    </div>
</div>