<div class="pages">
    <div data-page="ventas" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <div class="logo_text"
                         style="background-image: url(./images/logoblanco.png); background-size: contain; background-repeat: no-repeat; min-width: 10vw; min-height:7vh;">
                        <a href="index-2.html"> </a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="images/icons/white/menu.png" alt=""
                                                                          title=""/></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="images/icons/white/user.png" alt=""
                                                                           title=""/></a>
                </div>
            </div>

            <div id="pages_maincontent">
                <h2 class="page_title">Mis ventas</h2>


                <div class="page_single layout_fullwidth_padding">

                    <h3></h3>

                    <ul class="responsive_table">
                        <li class="table_row">
                            <div class="table_section">Servicio</div>
                            <div class="table_section">Puntos</div>
                            <div class="table_section">Cantidad</div>
                            <div class="table_section">Total</div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">DTH-Hogar</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Sencillo-Hogar</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Doble-Hogar</div>
                            <div class="table_section">40</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Triple-Hogar</div>
                            <div class="table_section">50</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Equipos</div>
                            <div class="table_section">10</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Planes</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section">Tecnologia</div>
                            <div class="table_section">20</div>
                            <div class="table_section"></div>
                        </li>
                    </ul>


                    <h3>Resumen de ventas</h3>

                    <ul class="responsive_table">
                        <li class="table_row">
                            <div class="table_section">Servicio</div>
                            <div class="table_section">En espera</div>
                            <div class="table_section">Exitosas</div>
                            <div class="table_section">No exitosas</div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">DTH-Hogar</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">Sencillo-Hogar</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">Doble-Hogar</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">Triple-Hogar</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">Equipos</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">Planes</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                        <li class="table_row">
                            <div class="table_section_14">Tecnologia</div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                            <div class="table_section_14"></div>
                        </li>
                    </ul>

                </div>

            </div>


        </div>
    </div>
</div>