@media screen and (min-width: 1000px) {
    .web-login {
        width: 50%;
        margin: 0 25%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .homepage {
        background-color: #fafafa !important;
    }

    .pagepanel2 {
        background-color: #fafafa !important;

    }

    .web2 {
        display: flex;
        height: 90vh;
        flex-direction: row;
        position: relative;
    }

    .w2 {
        display: none;
    }

    .n1 {
        position: relative !important;
        width: 50% !important;
        height: 95% !important;
        top: 10vh !important;

    }

    .swiper-container1 {
        height: 78% !important;
        width: 40% !important;

    }
    .toolbar-icon a {
        height: 18% !important;
        width: 50% !important;
        background-color: #ff1d2b !important;
    }
    .toolbar-icon > a > strong   {
        color: white !important;
    }
    .shop_items > li > .shop_thumb > a > img {
        height: 100%;
    }

    .shop_items > li > .shop_thumb {
        height: 100%;
    }

    .shop_items > li {
        height: 10vh;
    }

    .vd {
        display: flex;
        justify-content: center;
    }

    .n2 {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;

    }

    .n2 > a {
        height: 18% !important;
        width: 50% !important;
        background-color: #ff1d2b !important;
    }

    .n2 > a > span {
        color: white !important;
    }

    .sw {
        width: -webkit-fill-available;
    }

    .swp {
        bottom: 6% !important;
        left: 17% !important;
    }

    .sbp {
        bottom: 6% !important;
        right: 25% !important;
    }

    .sbn {
        bottom: 6% !important;
        right: 20% !important;
    }
}

@media screen and (max-width: 999px) {

    .web2 {
        display: none;
    }

    .w2 {
        display: block;
    }
}
